./inventory
group_vars/all
playbooks/inventory
ansible-azure.iml
.idea/
inventory.*
*.retry
*.DS_Store
playbooks/roles/prepare_single_avail/files/azure/azure.json
playbooks/roles/prepare_single_avail/files/certs/*.key
playbooks/roles/prepare_single_avail/files/certs/*.crt
playbooks/roles/prepare_single_avail/templates/hosts.j2
